{% extends "base.html" %}
{% load static %}

{% block body_class %}todo{% endblock %}
{% block extra_css %}  
<link rel = "stylesheet" href = "{% static 'my_app/todo_page.css' %}">
{% endblock %}

{% block content %}

    <h2 class="title">Todo App</h2>

    
    <div class="todo-container">
    <!-- ADD TASK -->
    <form method="POST">
        {% csrf_token %}
        <div class="input-group">
            <input class="task-input" type="text" name="title" placeholder="Add your new todo" required>
            <div class="spacer"></div>
            <button class="add-btn" type="submit" name="add_task">
                <span class="btn-text">+</span>
            </button>
        </div>
    </form>

    <!-- TASK LIST -->
    {% for todo in todos %}
    <div class="task">

        <!-- NORMAL TEXT -->
        <div id="text-{{ todo.id }}" class="task-text">
            {{ todo.title }}
        </div>

        <!-- EDIT MODE -->
        <form method="POST"
              id="edit-{{ todo.id }}"
              class="edit-form"
              style="display:none;">
            {% csrf_token %}
            <input type="hidden" name="task_id" value="{{ todo.id }}">
            <input type="text"
                   name="new_title"
                   value="{{ todo.title }}"
                   class="edit-input"
                   required>
            <div class="spacer"></div>
            <button type="submit"
                    name="edit_task"
                    class="btn save-btn">
                <span class="btn-text">✔</span>
            </button>
        </form>

        <!-- BUTTONS -->
        <div class="btn-group">
            <button type="button"
                    onclick="enableEdit({{ todo.id }})"
                    class="btn btn-edit">
                ✏
            </button>

            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="task_id" value="{{ todo.id }}">
                <button type="submit"
                        name="delete_task"
                        class="btn btn-delete">
                    🗑
                </button>
            </form>
            <div style="width: 20px;"></div>
            <form method="POST" style="margin: 0;">
                {% csrf_token %}
                <input type="hidden" name="task_id" value="{{ todo.id }}">
                <input type="hidden" name="check_task" value="off">
                <input class="checkbox" type="checkbox" name="check_task" value="on"
                    onchange="this.form.submit()"
                    {% if todo.checkbox %} checked {% endif %}>
            </form>

        </div>

    </div>
    {% empty %}
        <p class="no-tasks">No tasks yet</p>
    {% endfor %}

    <!-- FOOTER -->
    <div class="footer">
        <span>You have {{ task_count }} tasks</span>

        <form method="POST">
            {% csrf_token %}
            <button type="submit"
                    name="clear_all"
                    class="clear-btn">
                Clear All
            </button>
        </form>
    </div>
</div>


<script>
function enableEdit(id) {
    document.getElementById("text-" + id).style.display = "none";
    document.getElementById("edit-" + id).style.display = "flex";
}
</script>


{% endblock %}