{% extends "base_page.html" %} {% block title %} Revision Notes {% endblock %} <!-- This page extends base_page.html-->
{% load static %}

{% block body_class %}todo{% endblock %}
{% block extra_css %}  
<link rel = "stylesheet" href = "{% static 'my_app/revision_notes_page.css' %}">
{% endblock %}

{% block content %}

    <h2 class="title">Notes App</h2>

    
    <div class="todo-container">
    <!-- ADD TASK -->
    <form method="POST">
        {% csrf_token %}
        <div class="input-group">
            <input class="note-input" type="text" name="title" placeholder="Add your new note title" required>
            <div class="spacer"></div>
            <button class="add-btn" type="submit" name="add_note">
                <span class="btn-text">+</span>
            </button>
            
            <textarea class="note-description-input" type="text" name="description" placeholder="Add your new note description"></textarea>
        </div>
    </form>

    <!-- TASK LIST -->

    
    {% for note in notes %}
    <div class="note">

        <!-- NORMAL TEXT -->
        <div id="text-{{ note.id }}" class="note-text">
            {{ note.title }}
        </div>

        <!-- EDIT MODE -->
        <form method="POST"
              id="edit-{{ note.id }}"
              class="edit-form"
              style="display:none;">
            {% csrf_token %}
           <form id="edit-{{ note.id }}" class="edit-form" style="display:none;">
    {% csrf_token %}
    <input type="hidden" name="note_id" value="{{ note.id }}">

    <div class="edit-top">
        <input
            type="text"
            name="new_title"
            value="{{ note.title }}"
            class="edit-input"
            required>

        <button
            type="submit"
            name="edit_note"
            class="btn save-btn">
            ✔
        </button>
    </div>

    <textarea
        class="note-description-input-editing"
        name="new_description"
        >{{ note.description }}</textarea>
</form>

        <!-- BUTTONS -->
        <div class="btn-group">
            <button type="button"
                    onclick="enableEdit({{ note.id }})"
                    class="btn btn-edit">
                ✏
            </button>

            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="note_id" value="{{ note.id }}">
                <button type="submit"
                        name="delete_note"
                        class="btn btn-delete">
                    🗑
                </button>
            </form>
            <div style="width: 20px;"></div>
            

        </div>

    </div>

    <div class="note-description"
         id="description-{{ note.id }}">
            {{ note.description }}
        </div>
    {% empty %}
        <p class="no-notes">No notes yet</p>
    {% endfor %}

    <!-- FOOTER -->
    <div class="footer">
        <span>You have {{ note_count }} notes</span>

    </div>
</div>


<script>
function enableEdit(id) {
    document.getElementById("text-" + id).style.display = "none";
    document.getElementById("description-" + id).style.display = "none";
    document.getElementById("edit-" + id).style.display = "flex";
}
</script>


{% endblock %}