{% extends "base_page.html" %} {% block title %} To-do List {% endblock %} <!-- This page extends base_page.html-->
{% load static %}

{% block body_class %}todo{% endblock %}
{% block extra_css %}  
<link rel = "stylesheet" href = "{% static 'to_do_list_page.css' %}">
<script src="https://kit.fontawesome.com/dce4d5d2ec.js" crossorigin="anonymous"></script>

{% endblock %}

{% block content %}


<h2 class="title">Your to-do List</h2>

<span class="completed-tasks-check">{{ task_count }} tasks, {{ checked_count }} completed</span>

<!-- ADD TASK -->
<form method="POST">
    {% csrf_token %}
    <div class="input-group">
        <input class="task-input" type="text" name="title" placeholder="Add your new todo" required>
        <button class="add-button" type="submit" name="add_task">
            <span class="btn-text">+ Add</span>
        </button>
    </div>
</form>


{% for todo in todos %}

<div class="tasks-container">

    <div class="todo-container">
        <!-- TASK LIST -->
        <div class="task">

            <div class="task-right-side">

                <form method="POST" style="margin: 0;">
                    {% csrf_token %}
                    <input type="hidden" name="task_id" value="{{ todo.id }}">
                    <input type="hidden" name="check_task" value="off">
                    <input class="checkbox" type="checkbox" name="check_task" value="on"
                        onchange="this.form.submit()"
                        {% if todo.checkbox %} checked {% endif %}>
                </form>

                <!-- NORMAL TEXT -->
                <span id="text-{{ todo.id }}" class="task-text {% if todo.checkbox %}done{% endif %}">
                    {{ todo.title }}
                </span>

            </div>

            <!-- EDIT MODE -->
            <form method="POST"
                id="edit-{{ todo.id }}"
                class="edit-form"
                style="display:none;">
                {% csrf_token %}
                <input type="hidden" name="task_id" value="{{ todo.id }}">
                <input type="text" name="new_title" value="{{ todo.title }}" class="edit-input" required>
                <button type="submit" name="edit_task" class="btn save-btn">
                    <span class="btn-text">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M5 12.5L10 17L19 8" fill="none" stroke="currentColor" stroke-width="3.5" stroke-linecap="square" stroke-linejoin="miter"/>
                        </svg>
                    </span>
                </button>
            </form>

            <!-- BUTTONS -->
            <div class="btn-group">
                <button type="button"
                        onclick="enableEdit({{ todo.id }})"
                        class="btn-edit">
                    <i class="fa-regular fa-pen-to-square" id = "edit-icon"></i>
                </button>


                <form method="POST" onsubmit="return confirm('Delete this task?');">
                    {% csrf_token %}
                    <input type="hidden" name="task_id" value="{{ todo.id }}">
                    <button type="submit" name="delete_task" class="btn-delete">

                        <i class="fa-regular fa-trash-can" id = "delete-icon"></i>
                    </button>
                </form>
            </div>

        </div>

    </div>
</div>

{% empty %}
    <h3 class="no-tasks">No tasks yet</h3>
{% endfor %}

<!-- FOOTER -->
<div class="footer">

    {% if task_count != 0 %}
        <form method="POST" class="clear-form" onsubmit="return confirm('Are you sure you want to clear all tasks?');">
            {% csrf_token %}
            <button type="submit" name="clear_all" class="clear-btn"> Clear all tasks </button>
        </form>
    {% endif %}
</div>


<script>
function enableEdit(id) {
    document.getElementById("text-" + id).style.display = "none";
    document.getElementById("edit-" + id).style.display = "flex";
}
</script>


{% endblock %}