body {
    background-color: rgb(26, 26, 26);
    /* background-color:lightseagreen; */
    padding-bottom: 20px;
}
/*Default colour for all of the website pages (WILL CHANGE IN THE FUTURE)*/


.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: space-between; */
    /* justify-content: right; */
    align-items: space-between;
    list-style: none;
}

.navbar-name {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-left: 10px;
    align-items: left;
}

.dashboard-navbar {
    display: flex;
    align-items: left;
    gap: 25px;
}

.nav-links {
    display: flex;
    /* justify-content:space-around; */
    text-decoration:none;
    list-style: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: left;
    /* gap: 5px; */
}

.nav-link {
    display: block;
    color: white;
    margin: 0;
    gap: 0px;
    padding: 5px, 16px;
    border-right: 1px solid;
    border-color: black;
    font-size: 20px;

}

.nav-link:hover {
    text-decoration: underline;
}


.homepage-register-button {
    background-color: rgba(78, 121, 206);
    font-size: 20px;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.homepage-register-button:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(35, 82, 175);
    cursor: pointer;
}

.homepage-login-button {
    font-size: 20px;
    color: white;
    border: 1px solid white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.logout-button {
    font-size: 20px;
    color: white;
    border: 1px solid white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border-radius: 8px;
    text-decoration: none;
    margin: 15px;
    display: flex;
    align-items: right;
    /* padding: 10px; */
}
.homepage-login-button:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(41, 40, 40);
    cursor: pointer;
}

.account-buttons {
    /* display: flex;
    align-items: right;
    justify-content: right;
    margin: 10px;
    padding: 5px; */
    /* display: flex;
    justify-content: right; */
    display: flex;
    align-content: right;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
}

