body {
    background-color: rgb(26, 26, 26);
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}
/*Default colour for all of the website pages (WILL CHANGE IN THE FUTURE)*/

/* 
.main-container {
    margin: 0;
    padding: 0;
} */

.navbar {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-name {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-left: 10px;
    align-items: left;
}

.dashboard-navbar {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links {
    display: flex;
    text-decoration:none;
    list-style: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav-link {
    display: block;
    color: white;
    margin: 0;
    gap: 0px;
    padding: 5px, 16px;
    border-color: black;
    font-size: 20px;

}

.nav-link:hover {
    text-decoration: underline;
}


.homepage-register-button {
    background-color: rgba(78, 121, 206);
    font-size: 20px;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.homepage-register-button:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(35, 82, 175);
    cursor: pointer;
}

.homepage-login-button {
    font-size: 20px;
    color: white;
    border: 1px solid white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.logout-button {
    font-size: 20px;
    color: white;
    border: 1px solid white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 15px;
    border-radius: 8px;
    text-decoration: none;
}
.homepage-login-button:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(41, 40, 40);
    cursor: pointer;
}

.account-buttons {
    display: flex;
    align-content: right;
    margin: 10px;
    padding: 5px;
}

