@import url('https://fonts.googleapis.com/css2?family=SquadaOne&display=swap');

:root {
    --a-color: rgba(26, 26, 25);
    --b-color:  rgba(44, 44, 42);
    --c-color: rgb(188, 187, 174);
    --d-color: rgba(117, 117, 117);
}

body {
    background-color: var(--a-color);
}

.title {
    font-family: 'SquadaOne', sans-serif;   
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    padding-top: 30px;
    padding-bottom: 0px;
    text-align: center;
}

.subtitle {
    font-family: Arial;   
    font-size: 16px;
    color:rgba(192, 191, 179, 0.6);
    text-align: center;
}

.login-container {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 30px;
}

.field{
    display: block;
    padding-bottom: 30px;
    width: 300px;
    margin: 0 auto 30px auto;
}

.field input{
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    border-radius: 7px;
    border-color: var(--d-color);
    background-color: var(--b-color);
    border-style: solid;
    border-width: 1px;
    padding-left: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: var(--c-color);
    outline: none;

}

.field input::placeholder {
  color: var(--c-color);
  opacity: 0.6;
  padding-left: 7px;
}


.field label{
    display: block;
    font-family: Arial;
    font-size: 14px;
    color: var(--c-color);
    text-align: left;
    line-height: 1;
    padding-top: 10px;
}


.errorlist {
    color: red;
    font-size: 14px;
    margin-top: 0px;
    text-align: center;
    padding-top: 5px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}



.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* The box surrounding the login button*/


.login-button {
    background-color: rgba(78, 121, 206);
    font-size: 20px;
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; 
    border: none; 
}
/*Design of the actual login button*/


.login-button:hover {
    text-decoration: none;
    background-color: rgb(35, 82, 175);
    color: white;
    cursor: pointer;
}
/*Colour of login button changes slightly when you hover over it*/

.frame {
    margin: 0 auto;
    background-color: var(--b-color);
    outline: solid var(--b-color) 1px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 
        0 0 3px rgba(97, 97, 97, 0.1),
        inset 0 0 5px rgba(0, 0, 0, 0.25);
    width: 500px;
}
/* The entire white frame which encloses everything within the login page*/


.register-link {
    text-align: center;
    margin-top: 20px;
    font-family: Arial;       
    font-size: 14px;
    color: white;
}
/* Style of text which says 'Need to register?' */

.register-link-text {
    color: rgba(78, 121, 206);
    text-decoration: underline;
}


