@import url('https://fonts.googleapis.com/css2?family=SquadaOne&display=swap');



:root {
    --a-color: rgba(26, 26, 25);
    --b-color:  rgba(44, 44, 42);
    --c-color: rgb(188, 187, 174);
    --d-color: rgba(117, 117, 117);
}

body {
    background-color: var(--a-color);
}



.notes-container {
    margin: 0 auto;
    margin-bottom: 14px;
    background-color: var(--b-color);
    outline: solid var(--b-color) 1px;
    border-radius: 15px;
    box-shadow: 
        0 0 3px rgba(97, 97, 97, 0.1),
        inset 0 0 5px rgba(0, 0, 0, 0.25);
    width: 650px;
    height: 160px;
}

.title {
    font-family: 'SquadaOne', sans-serif;   
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    padding-top: 30px;
    text-align: center;
}


.subtitle {
    display: block;
    text-align: center;
    font-family: Arial;   
    font-size: 14px;
    color: lightseagreen;
    padding-bottom: 20px;
}

.input-group {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
    outline: none;
    width: 650px;
    gap: 5px;
}

.note-input {
    text-align: left;
    width: 650px;
    border-radius: 7px;
    border-color: var(--d-color);
    background-color: var(--b-color);
    color: var(--c-color);
    border-style: solid;
    border-width: 1px;
    padding-right: 6px;
    padding-left: 7px;
    padding-top: 2px;
    padding-bottom: 8px;
    outline: none;
}

.note-input::placeholder {
  color: var(--c-color);
  opacity: 0.6;
  padding-left: 6px;
}

.note-description-input {
    text-align: left;
    width: 650px;
    height: 100px;
    border-radius: 7px;
    border-color: var(--d-color);
    background-color: var(--b-color);
    color: var(--c-color);
    border-style: solid;
    border-width: 1px;
    outline: none;
    position: relative;
    top: 3px;
    font-size: 12px;
    
}

.spacer{
    display: block;
    height: 70px;
}

.add-btn {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 7px;
    transition: background-color 0.3s ease, color 0.3s ease;
    outline: none;
    background-color: lightseagreen;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-weight: bold; 

}

.add-btn:focus {
  outline: none;
  box-shadow: none;
}

.add-btn:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.add-btn .btn-text {
    font-size: 14px;
    display: inline-block;
    outline: none;
}


.no-notes {
    text-align: center;
    font-family: Arial;       
    font-weight: bold;
    font-size: 16px;
    color: lightseagreen;
    padding-top: 20px;
    padding-bottom: 30px;
}


.note {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 30px;
    border-bottom: 1px solid var(--d-color);

}

.note-text {
    color: var(--c-color);
    font-size: 20px;
    align-items: left;
    padding-left: 20px;
}

.note-description {
    font-size: 12px;
    color: rgb(100, 100, 100);
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 40px;
    
}

.note-right-side {
    align-items: left;
    display: flex;
}

.btn-group {
    align-items: right;
}


.save-btn {
    background-color: var(--b-color);
    color: lightseagreen;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: background-color 0.3s ease, color 0.3s ease;
    outline: none;

}

.save-btn:focus {
  outline: none;
  box-shadow: none;
}

.save-btn:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color:#138f83;
}

.save-btn .btn-text .icon {
    width: 20px;
    height: 20px;
    color: inherit;
}

.edit-input {
    text-align: center;
    align-items: left;
    border-radius: 7px;
    border-color: var(--c-color);
    border-style: solid;
    border-width: 1px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    outline: none;
    background-color: var(--b-color);
    color: var(--c-color)
}



.edit-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit-top {
    display: flex;
    gap: 6px;
}

.note-description-input-editing {
    text-align: left;
    padding:7px;
    width: 500px;
    height: 150px;
    color: var(--c-color);
    background-color: var(--b-color);
    border-radius: 7px;
    border-color: var(--c-color);
    border-style: solid;
    border-width: 1px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    outline: none;
    position: relative;
    top: 1px;
    font-size: 12px;
}


.btn-edit {
    color: lightseagreen;
    background-color: var(--b-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-edit:hover {
    color: #138f83;
}

.btn-edit,
.btn-edit:focus,
.btn-edit:focus-visible,
.btn-edit:active {
    outline: none;
    box-shadow: none;
    border: none;
}


.btn-delete {
    color: crimson;
    background-color: var(--b-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-delete:hover {
    color: darkred;
}

.btn-delete,
.btn-delete:focus,
.btn-delete:focus-visible,
.btn-delete:active {
    outline: none;
    box-shadow: none;
    border: none;
}

.btn-edit .icon {
    width: 20px;
    height: 20px;
    display: block;
    color: inherit;         
}

.btn-delete .icon {
    width: 20px;
    height: 20px;
    display: block;
    color: inherit;         
}
